<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="port" value="8082"/>
    <add key="folder" value="C:\Source\SEDC\sedc4-dataServer\DataServer\Site"/>
  </appSettings>
</configuration>